<div class="align-items-center ustify-content-center"
  style="background-image: url('https://cdn.hipwallpaper.com/i/55/79/QLfGr0.jpg'); height: 900px; display: grid;">
  <div class="row justify-content-center align-items-center p-3">
    <div class="col-lg-3 col-sm-6">
      <div class="card p-3">
        <h5 class="text-center text-white mb-4 mt-2">Đăng kí tài khoản</h5>
        <div class="p-2">
          <div class="form-group">
            <input type="email" class="form-control tranpent-in" placeholder="Email đăng nhập" [(ngModel)]="email">
            <p-message *ngIf="checkEmail === false" severity="error" text="Vui lòng nhập đúng email"></p-message>
          </div>
          <div class="form-group">
            <input type="password" class="form-control tranpent-in" placeholder="Nhập mật khẩu" [(ngModel)]="password"
              pPassword>
            <p-message *ngIf="requireLenght === false" severity="error" text="Mật khẩu cần ít nhất 8 kí tự"></p-message>
          </div>
          <div class="form-group">
            <input type="password" class="form-control tranpent-in" placeholder="Nhập lại mật khẩu"
              [(ngModel)]="repassword">
            <p-message *ngIf="password !== repassword" severity="error" text="Mật khẩu không khớp"></p-message>
            <p-message *ngIf="show === true" severity="error" text="Tài khoản này đã được tạo"></p-message>
          </div>
          <button style="width:100%" type="submit" class="btn btn-danger" (click)="register()">Đăng
            kí</button>
          <p class="text-white mt-2">Quay lại trang đăng nhập <span><a class="h6" routerLink="/login">Đăng
                nhập</a></span></p>
          <p-dialog header="Thông báo" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">
            <p>Tạo tài khoản thành công
            </p>
            <ng-template pTemplate="footer">
              <p-button icon="pi pi-check" (click)="redirectToLogin()" label="Đăng nhập" styleClass="p-button-text">
              </p-button>
            </ng-template>
          </p-dialog>
        </div>
      </div>
    </div>
  </div>
</div>