<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="">
            <a routerLink="/home"><img src="../../../assets/BookRes.png" class="img-brand" /></a>
            <p-dropdown class="ml-4" [options]="cities" optionLabel="name"></p-dropdown>
        </div>
        <button class="navbar-toggler btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <i class="pi pi-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarToggler">
            <ul class="navbar-nav mt-2 mt-lg-0 mr-5">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <div class="searchBar align-items-center mr-1">
                <input class="searchInput mb-1" type="text" placeholder="Tìm nhà hàng...">
                <a href="#" class="searchIcon"><i class="pi pi-search"></i></a>
            </div>
            <a routerLink="/login" class="btn btn-outline-primary p-2">
                Đăng nhập
            </a>
        </div>
    </div>
</nav>