<div class="searchBackground mt-5">
    <div class="searchBackgroundImg d-flex align-items-center"
        style="background-image: url('https://assets.simpleviewcms.com/simpleview/image/fetch/c_fill,f_jpg,h_400,q_65,w_587/https://media.newmindmedia.com/TellUs/image/%3Ffile%3D180D723314CFB5F03B8C57B2E07D5D0C7A816772.jpg%26dh%3D500%26dw%3D800%26cropX%3D0%26cropY%3D274%26cropH%3D2002%26cropW%3D3200%26t%3D4');">
        <div class="container">
            <b class="slogan">BOOK RES</b>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Tìm tên nhà hàng, đặt chỗ, khuyến mãi" [(ngModel)]="search">
                <button class="btn btn-danger" type="button" [routerLink]="['/search', search]">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="category p-3">
        <div class="row">
            <div (click)="getType('T-0001','')" class="col-lg-4 p-2 categoryTag" style="cursor:default;">
                <i style="color: orange;" class="fa fa-cutlery"></i>
                <h5>Ăn uống</h5>
            </div>
            <div (click)="getType('T-0001','')" class="col-lg-4 p-2 categoryTag" style="cursor: default;">
                <i style="color: cornflowerblue;" class="fa fa-coffee"></i>
                <h5>Tráng miệng</h5>
            </div>
            <div (click)="getType('Rot Thuc Tap Doanh Nghiep Type','')" class="col-lg-4 p-2 categoryTag" style="cursor: default;">
                <i style="color: crimson;" class="fa fa-glass"></i>
                <h5>Vui chơi</h5>
            </div>
        </div>
    </div>
    <div class="resForm p-2">
        <div class="tagName">
            <i style="color: crimson;" class="fa fa-tags" aria-hidden="true"></i>
            <h4>KHUYẾN MÃI ĐẶC BIỆT</h4>
        </div>
        <p-carousel *ngIf="loading === false" [value]="restaurants" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="3000"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-item pTemplate="item">
                <div class="p-3">
                    <div class="card-form">
                        <div class="text-center orderNow">
                            <img class="imgRes-sale" src="{{item.imageUrls[0]}}">
                            <button (click)="viewRestaurant(item.resId, item)" class="btn btn-danger btnOrder">Đặt
                                ngay</button>
                        </div>
                        <div class="card-body">
                            <h6 style="height: 40px !important;" class="textSale">Giảm 50% - abcxyz</h6>
                            <hr>
                            <h6 style="height: 40px !important;">{{item.restaurantName}}</h6>
                            <p class="address">{{item.address.street}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        <div class="d-flex justify-content-center align-items-center mt-4" *ngIf="loading === true">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
                strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
        </div>
    </div>
    <div class="resForm p-2">
        <div class="tagName">
            <i style="color: crimson;" class="fa fa-map-marker" aria-hidden="true"></i>
            <h4>ĐỊA ĐIỂM</h4>
        </div>
        <p-tabView>
            <p-tabPanel header="Mới">
                <div class="d-flex justify-content-center align-items-center mt-4" *ngIf="loading === true">
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
                        strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                </div>
                <div class="row justify-content-center" *ngIf="loading === false">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-10" *ngFor="let item of restaurants">
                        <div class="card-form">
                            <div class="text-center orderNow">
                                <img class="imgRes-sale" src='{{item.imageUrls[0]}}'>
                                <button (click)="viewRestaurant(item.resId, item)" class="btn btn-danger btnOrder">Đặt ngay</button>
                            </div>
                            <div class="card-body">
                                <h6 style="height: 40px;">{{item.restaurantName}}</h6>
                                <hr>
                                <h6 style="color:dodgerblue;">Cả ngày - <span class="h6" style="color: orange;">Giảm
                                        15%</span></h6>
                                <p style="height: 25px;" class="address">{{item.address.street}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Nổi bật">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Đặt nhiều">
                Content 3
            </p-tabPanel>
        </p-tabView>
        <div class="resForm p-2">
            <div class="tagName">
                <i style="color: crimson;" class="fa fa-flag" aria-hidden="true"></i>
                <h4>Các thương hiệu</h4>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-2 p-2 text-center">
                    <img class="imgBrand"
                        src="https://media.foody.vn/images/beauty-upload-api-sushi_tei-190110174741.jpg">
                </div>
                <div class="col-lg-2 p-2 text-center">
                    <img class="imgBrand"
                        src="https://static.ybox.vn/2018/1/15/c206ad04-f9cf-11e7-8c78-2e995a9a3302.jpg">
                </div>
                <div class="col-lg-2 p-2 text-center">
                    <img class="imgBrand"
                        src="https://media.foody.vn/images/beauty-upload-api-chang-kang-kung-190110174407.jpg">
                </div>
                <div class="col-lg-2 p-2 text-center">
                    <img class="imgBrand" src="https://media.foody.vn/images/beauty-upload-api-dmaris-190110174447.jpg">
                </div>
                <div class="col-lg-2 p-2 text-center">
                    <img class="imgBrand" src="https://media.foody.vn/images/beauty-upload-api-gaxeo-190110174559.jpg">
                </div>
            </div>
        </div>
    </div>
</div>