<div class="container">
    <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
            <h2 class="title">Liên hệ với chúng tôi</h2>
            <br>
        </div>
    </div>
    <br /><br />
    <div class="row card-form p-2">
        <div class="col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3918.2324288146738!2d106.80161941411598!3d10.86991839225808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1588878290282!5m2!1svi!2s"
                width="300" height="400" frameborder="0" style="border:0;" allowfullscreen=""
                aria-hidden="false" tabindex="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Thông Tin Liên Hệ</h3>
            <div class="text-center">
                <address>
                    <h4>Trường Đại học Công nghệ Thông tin</h4>
                    <h4>Khu phố 6, P.Linh Trung, Q.Thủ Đức, TP.Hồ Chí Minh.</h4>
                    <abbr title="Phone">
                        <h6>(028) 372 51993</h6>
                    </abbr>
                </address>
                <address>
                    <strong>Hỗ trợ:</strong><a
                        href="mailto:17520951@gm.uit.edu.vn">17520951@gm.uit.edu.vn</a><br />
                    <strong>Hỗ trợ:</strong><a
                        href="mailto:17520686@gm.uit.edu.vn">17520686@gm.uit.edu.vn</a><br />
                    <strong>Hỗ trợ:</strong><a href="mailto:17520686@gm.uit.edu.vn">17520733@gm.uit.edu.vn</a>
                </address>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h2 class="title">Let's talk about us</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-form p-2">
                        <div class="card-block">
                            <a href="">
                                <div class="author">
                                    <h4 class="card-title text-center">Man Minh Le</h4>
                                    <h6 class="card-categor text-center">Back-end Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center" style="height: 120px;">
                                Teamwork is so important that it is virtually impossible for you to reach the heights of
                                your capabilities or make the money that you want without becoming very good at it.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://www.facebook.com/nhoxdevil.loveyou" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card-form p-2">
                        <div class="card-block">
                            <a href="">
                                <div class="author">
                                    <h4 class="card-title text-center">Thanh Linh Nguyen</h4>
                                    <h6 class="card-category text-center">Front-end Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center" style="height: 120px;">
                                A group becomes a team when each member is sure enough of himself and his contribution
                                to praise the skill of the others. No one can whistle a symphony. It takes an orchestra
                                to play it.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://www.facebook.com/profile.php?id=100005965543691" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card-form p-2">
                        <div class="card-block">
                            <a href="">
                                <div class="author">
                                    <h4 class="card-title text-center">Quang Ta</h4>
                                    <h6 class="card-category text-center">Front-end Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center" style="height: 120px;">
                                The strength of the team is each individual member. The strength of each member is the
                                team. If you can laugh together, you can work together, silence isn’t golden, it’s
                                deadly.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="https://www.facebook.com/quang.ta.792" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>