<hr>
<div class="" style="background-color: white;">
    <div class="container">
        <h4 class="brand">BOOK RES</h4>
        <div class="row">
            <ul class="col-lg-4  col-md-4" style="list-style:none">
                <li><a>Giới thiệu</a></li>
                <li><a>Liên hệ</a></li>
                <li><a>Về chúng tôi</a></li>
            </ul>
            <ul class="col-lg-4  col-md-4" style="list-style:none">
                <li><a>Tài khoản</a></li>
                <li><a>Lịch sử đặt bàn</a></li>
            </ul>
            <ul class="col-lg-4  col-md-4" style="list-style:none">
                <li><a>ĐẠI HỌC CÔNG NGHỆ THÔNG TIN</a></li>
                <li><a>Khu phố 6, phường Linh Trung, quận Thủ Đức</a></li>
            </ul>
        </div>
    </div>
</div>